<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nntk.sb.awesome.mapper.UserMapper">
    <resultMap
            type="com.nntk.sb.awesome.entity.TUser"
            id="TUser">
    </resultMap>
    <select id="selectById" resultMap="TUser">
        select *
        from t_admin_user
    </select>
</mapper>
